$brand-primary				: #09aec8;
$text-color					  : #2a2a2a;
$title-color				  : #1c1c1c;

$white						    : #ffffff;
$black						    : #000;

$raleway-font					: 'Raleway', sans-serif;
$fontawesome				  : 'FontAwesome';
